.navbar-collapse {
    justify-content: end;
}

.nav-link {
    font-size: 1rem !important;
}

.menu-consultar {
    display: flex;
    align-items: center;
}

.menu-consultar a {
    border: #D9D9D9 solid;
    display: flex;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    padding: 0.1rem;
}

.menu-consultar-texto {
    font-size: 1.1rem;
    padding: 0 0.3rem 0 0.3rem !important;
}

.menu-consultar-icono {
    font-size: 1.5rem;
    padding-left: 0.5rem;
    color: #BF0909;
}

.container-titulo {
    text-align: center;
}

.container-titulo h5 {
    color: #BF0909;
    font-size: 2.5rem;
    font-weight: 700;
}

@media (max-width: 992px) {
    .navbar .container-fluid {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    .navbar-brand img {
        width: 6.5rem;
        height: auto;
    }
    .menu-consultar {
        justify-content: center;
        padding: 0.3rem 0.5rem;
    }
    .menu-consultar span {
        font-size: 20px;
    }
    .container-titulo h5 {
        font-size: 1rem !important;
    }
}

@media (min-width: 450px) {
    .navbar-brand img {
        width: 8rem;
        height: auto;
    }
    .container-titulo h5 {
        font-size: 1.5rem !important;
    }
}
