<div class="container-principal">
    <div class="container-sm row row-cols-1 row-cols-md-4 g-2 card-group container-login">
        <form action="" method="get">
            <h4>Iniciar sesión</h4>
            <label for="">Usuario</label>
            <input type="text" class="w-100" name="" id="">
            <label for="">Contraseña</label>
            <input type="password" class="w-100" name="" id="">
            <label for="">Recaptcha</label>
            <input type="text" class="w-100" name="" id="">
            <button type="button" class="btn btn-danger mt-2 w-100">INGRESAR</button>
            <div class="reg-recov">
                <a class="text-start a-solicitarusuario" href="/solicitarusuario">Solicitar usuario</a>
                <a class="text-end a-recuperarclave" href="/recuperarclave">RECUPERAR CONTRASEÑA</a>
            </div>
        </form>
    </div>
</div>