<div class="row container-principal m-3">
    <div class="col-6 container-title-login-cpn">
        <span class="title-login-cpn">Código Postal del Perú</span>
    </div>
    <div class="col-6 container-login">
        <form action="" method="get">
            <h4>Iniciar sesión</h4>
            <label for="">Usuario</label>
            <input type="text" [(ngModel)]="usuario" class="form-control w-70" name="login" id="" >
            <label for="">Contraseña</label>
            <input type="password" [(ngModel)]="password" class="form-control w-70" name="password" id="">
            <label for="">Recaptcha</label>
            <input type="text" class="w-100" name="" id="">
            <button type="button" class="btn btn-danger mt-2 w-70" (click)="login()">INGRESAR</button>
            <div class="reg-recov">
                <a class="text-start a-solicitarusuario" href="solicitarusuario">Solicitar usuario</a>
                <a class="text-end a-recuperarclave" href="recuperarclave">RECUPERAR CONTRASEÑA</a>
            </div>
        </form>
    </div>
</div>