<div class="container-principal-mantenimiento m-3">
    <div class="row container-fluid">
        <div class="col-2 filtros-mantenimiento p-2 offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1"
            id="staticBackdrop" aria-labelledby="staticBackdropLabel">
            <div class="filtros-header">
                <h4 class="filtros-title">Filtros</h4>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="filtros-mantenimiento-principales">
                <div class="btn-parametro-busqueda btn-parametro-busqueda-seleccionado">
                    <span>Dirección</span>
                </div>
                <div class="btn-parametro-busqueda">
                    <span>Centro poblado o localidad</span>
                </div>
                <div class="btn-parametro-busqueda">
                    <span>Punto de interés</span>
                </div>
            </div>
            <hr>
            <div class="filtros-mantenimiento-secundarios">
                <div class="contenedor-txt-parametro-busqueda">
                    <input type="text" name="" id="" placeholder="Departamento"
                        class="form-control txt-parametro-busqueda">
                </div>
                <div class="contenedor-txt-parametro-busqueda">
                    <input type="text" name="" id="" placeholder="Provincia"
                        class="form-control txt-parametro-busqueda">
                </div>
                <div class="contenedor-txt-parametro-busqueda">
                    <input type="text" name="" id="" placeholder="Distrito"
                        class="form-control txt-parametro-busqueda">
                </div>
                <div class="contenedor-txt-parametro-busqueda">
                    <input type="text" name="" id="" placeholder="Núcleo urbano"
                        class="form-control txt-parametro-busqueda">
                </div>
                <div class="contenedor-txt-parametro-busqueda">
                    <input type="text" name="" id="" placeholder="Tipo de vía"
                        class="form-control txt-parametro-busqueda">
                </div>
                <div class="contenedor-txt-parametro-busqueda">
                    <input type="text" name="" id="" placeholder="Manzana"
                        class="form-control txt-parametro-busqueda">
                </div>
                <div class="contenedor-txt-parametro-busqueda">
                    <input type="text" name="" id="" placeholder="Lote"
                        class="form-control txt-parametro-busqueda">
                </div>
                <div class="contenedor-txt-parametro-busqueda">
                    <input type="text" name="" id="" placeholder="Número"
                        class="form-control txt-parametro-busqueda">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row m-3 container-botones">
                <div class="col-2">
                    <button class="btn" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
                        <span class="material-symbols-outlined">tune</span>
                    </button>
                </div>
                <div class="col-7">
                    <h3 class="title-mantenimiento">Mantenimiento</h3>
                </div>
                <div class="col-3 container-btn-nuevo-mantenimiento justify-end">
                    <button type="button" class="btn btn-nuevo-mantenimiento" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">Nuevo</button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="container-table-mantenimiento">
                    <table class="table table-mantenimiento">
                        <thead>
                            <th>Distrito</th>
                            <th>Núcleo urbano</th>
                            <th>Manzana</th>
                            <th>Lote</th>
                            <th>Número</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Carla</td>
                                <td>Mirabal</td>
                                <td>87654321</td>
                                <td>87654321</td>
                                <td>87654321</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>Nathaly</td>
                                <td>Mirabal</td>
                                <td>87654321</td>
                                <td>87654321</td>
                                <td>87654321</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>Carla</td>
                                <td>Cucci</td>
                                <td>87654321</td>
                                <td>87654321</td>
                                <td>87654321</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body container-fluid">
                    <h1 class="modal-title fs-5 mantenimiento-modal-title" id="staticBackdropLabel">Nuevo centro poblado o localidad</h1>
                    <hr class="mantenimiento-modal-separador">
                    <form action="" method="post">
                        <div class="mb-3 mx-1 row">
                            <label for="staticEmail" class="col-sm-4 col-form-label mantenimiento-modal-label">Departamento</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control txt-parametro-busqueda" id="inputPassword">
                            </div>
                        </div>
                        <div class="mb-3 mx-1 row">
                            <label for="inputPassword" class="col-sm-4 col-form-label mantenimiento-modal-label">Provincia</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control txt-parametro-busqueda" id="inputPassword">
                            </div>
                        </div>
                        <div class="mb-3 mx-1 row">
                            <label for="inputPassword" class="col-sm-4 col-form-label mantenimiento-modal-label">Distrito</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control txt-parametro-busqueda" id="inputPassword">
                            </div>
                        </div>
                        <div class="mb-3 mx-1 row">
                            <label for="inputPassword" class="col-sm-4 col-form-label mantenimiento-modal-label">Categoría</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control txt-parametro-busqueda" id="inputPassword">
                            </div>
                        </div>
                        <div class="mb-3 mx-1 row">
                            <label for="inputPassword" class="col-sm-4 col-form-label mantenimiento-modal-label">Nombre del lugar</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control txt-parametro-busqueda" id="inputPassword">
                            </div>
                        </div>
                        <div class="mantenimiento-modal-buttons">
                            <button type="button" class="btn btn-cancelar" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-guardar">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>