<h4>Mi cuenta</h4>
<div class="container-fluid">
    <div class="card">
        <span>Datos del usuario</span>
        <button>Editar</button>
        <form action="">
            <label for="">Documento de identidad</label>
            <input type="text">
            <label for="">Nro. de documento de identidad</label>
            <input type="text">
            <label for="">Apellido paterno*</label>
            <input type="text">
            <label for="">Apellido materno</label>
            <input type="text">
            <label for="">Nombre(s)</label>
            <input type="text">
            <label for="">Nro. celular</label>
            <input type="text">
            <label for="">Nro</label>
            <input type="text">
            <label for="">Nro</label>
            <input type="text">
            <label for="">Nro</label>
            <input type="text">
            <label for="">Nro</label>
            <input type="text">
        </form>
    </div>
    <div class="card">
        <span>Datos del centro de labores</span>
    </div>
</div>
