<div class="container-principal m-5">
    <div class="col container-fluid">
        <div class="row">
            <div class="col col-7">
                <span class="principal-titles">¿Qué es?</span>
                <p>El Código Postal es un esquema de cinco (5) dígitos numéricos que identifica de manera
                    única a cada zona postal. Esta norma técnica comprende los códigos específicos que
                    identifican a cada uno de los centros poblados del país, que contribuirá en la mejora de la
                    calidad de los servicios postales, facilitando las actividades económicas y comerciales en
                    el territorio nacional.<br><br>Beneficios del Código Postal:</p>
                <ul>
                    <li>Ubicar con exactitud geográfica una dirección predeterminada.</li>
                    <li>Identificación de un lugar para envío/recepción de compras en línea.</li>
                    <li>Recepción y envío de paquetes reduciendo el riesgo de pérdida o devolución.</li>
                </ul>
            </div>
            <div class="col col-5 container-quees-img">
                <img src="img/img-01.png" alt="">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col col-6">
                <span class="principal-titles">Estructura del CPN</span>
                <p>El CPN ha quedado definido por cinco dígitos estructurados de
                    acuerdo al siguiente esquema:<br>El CPN comprende a todos los centros poblados y poblaciones
                    dispersas del país, inmersos en 2,670 códigos específicos</p>
            </div>
            <div class="col col-6 container-estructuracpn-img">
                <img src="img/img-02.png" alt="">
                <span class="ngrafico">Gráfico N° 1: Estructura del CPN</span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col col-6">
                <span class="principal-titles">Primer y segundo dígito del CPN</span>
                <p>
                    Estos dos primeros dígitos de la codificación postal nacional representan la asignación de
                    los códigos de ubigeo a nivel departamental o región.
                </p>
                <div class="container-estructuracpn-img">
                    <img src="img/img-03.png" alt="">
                    <span class="ngrafico">Gráfico N° 2: Primer y segundo dígito del CPN</span>
                </div>
            </div>
            <div class="col col-6">
                <span class="principal-titles">Tercer dígito del CPN</span>
                <p>
                    Este tipo de código postal, define la Zona Postal de Encaminamiento,
                    agrupadopor uno o varios distritosde un departamento en base a las redes
                    viales de transporte, las mismas que tienen por objeto facilitar la
                    clasificación de la correspondencia a través del Código Postal.
                </p>
                <ul>
                    <li>0(cero), para la capital del departamento o región.</li>
                    <li>1 - 8, permite dividir cada departamento o región hasta ocho zonas
                        postales de Encaminamiento.</li>
                </ul>
                <div class="container-estructuracpn-img">
                    <img src="img/img-04.png" alt="">
                    <span class="ngrafico">Gráfico N° 3: Tercer dígito del CPN</span>
                </div>
            </div>
            <div class="mt-3">
                <div class="container container-qc-digito-cpn">
                    <span class="principal-titles">Cuarto y quinto dígito del CPN</span>
                    <p>
                        Este tipo de código postal define los distritos postales de cada zona postal creada a
                        nivel regional. Codificando a cada uno sus localidades u centros poblados o segmento
                        de concentración urbana existente distrital de las regiones del país.
                    </p>
                    <div class="container-estructuracpn-img">
                        <img src="img/img-05.png" alt="">
                        <span class="ngrafico">Gráfico N° 4: Cuarto y quinto dígito del CPN</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>