<div class="container-principal m-5">
    <div class="col container-fluid">
        <div class="row">
            <div class="col">
                <p>
                    En el caso de tener inconvenientes o dudas con su Código Postal, 
                    <br>
                    por favor comuníquese gratuitamente al:
                    <br>
                    <br>
                    (+511) 615 7999
                    <br>
                    codigopostal&#64;mtc.gob.pe
                    <br>
                    www.codigopostal.gob.pe
                    <br>
                    <br>
                    El siguiente instructivo presenta de manera didáctica la correcta utilización del Código Postal Nacional.
                    <br>
                    En caso de alguna consulta y/o sugerencia:
                    <br>
                    <br>
                    Jr. Zorritos 1203
                    <br>
                    15082 Perú(+51) 
                    <br>
                    615 7999
                    <br>
                    webmaster&#64;mtc.gob.pe
                    <br>
                    www.mtc.gob.pe
                </p>
            </div>
            <div class="col col-6 container-estructuracpn-img">
                <img src="img/img-06.png" alt="">
            </div>
        </div>
    </div>
</div>