@media (max-width: 992px) {
    .principal-titles {
        font-size: 1rem;
    }

    p,
    p span,
    li {
        font-size: 0.7rem;
    }
    
    .img-contacto {
        max-width: 70%; /* Ajusta el tamaño de la imagen en móviles */
        margin-top: 1rem;
    }

    .container-principal {
        margin: 0.8rem 0.6rem !important;
    }
}