<footer class="footer mt-3">
    <div class="text-start">
        <p class="mt-2 mb-2">
            Jirón Zorritos N° 1203 - 15082 Perú
            <br>
            Central telefónica 615 7800 / 615 7900
            <br>
            <!-- Correo electrónico webmaster@mtc.gob.pe -->
        </p>
    </div>
    <div class="container-dgraic">
        <p class="text-end">
            Dirección General de Regulaciones y Asuntos
            <br>
            Internacionales de Comunicaciones
            <br>
            <!-- codigopostal@mtc.gob.pe -->
            <br>
            Teléfono: 615 7999
        </p>
    </div>
</footer>