<div class="container-principal">
    <div class="container-sm row row-cols-1 row-cols-md-4 g-4 card-group">
        <div class="col servicios-container">
            <div class="card h-100 servicios-card">
                <div class="card-body servicios-card-body">
                    <h5 class="card-title servicios-card-title">Encomiendas</h5>
                    <br>
                    <img [src]="environmentUrl + 'package.png'" class="card-img servicios-img" alt="...">
                    <br>
                    <br>
                    <p class="card-text servicios-card-text">Consulta el código postal específico para enviar
                        encomiendas dentro del
                        país. Asegúrate de incluir el código postal correcto para que tus envíos lleguen a la
                        dirección adecuada y en el tiempo estimado.</p>
                </div>
            </div>
        </div>
        <div class="col servicios-container">
            <div class="card h-100 servicios-card">
                <div class="card-body servicios-card-body">
                    <h5 class="card-title servicios-card-title">Sobres nacionales</h5>
                    <br>
                    <img [src]="environmentUrl + 'letter.png'" class="card-img servicios-img" alt="...">
                    <br>
                    <br>
                    <p class="card-text servicios-card-text">Obtén el código postal necesario para enviar
                        sobres y documentos dentro del territorio nacional. Un código postal correcto
                        facilita el envío seguro y rápido de tus correspondencias.</p>
                </div>
            </div>
        </div>
        <div class="col servicios-container">
            <div class="card h-100 servicios-card">
                <div class="card-body servicios-card-body">
                    <h5 class="card-title servicios-card-title">Sobres internacionales</h5>
                    <br>
                    <img [src]="environmentUrl + 'paper-plane.png'" class="card-img servicios-img" alt="...">
                    <br>
                    <br>
                    <p class="card-text servicios-card-text">Encuentra el código postal y la información de
                        envío para tus correspondencias internacionales. Asegúrate de usar el código
                        correcto para cumplir con los requisitos de entrega en otros países.</p>
                </div>
            </div>
        </div>
        <div class="col servicios-container">
            <div class="card h-100 servicios-card">
                <div class="card-body servicios-card-body">
                    <h5 class="card-title servicios-card-title">Compras en línea</h5>
                    <br>
                    <img [src]="environmentUrl + 'virtual.png'" class="card-img servicios-img" alt="...">
                    <br>
                    <br>
                    <p class="card-text servicios-card-text">Verifica el código postal correspondiente a tu
                        zona para asegurar la entrega de tus compras en línea. Esto ayuda a las tiendas a
                        estimar correctamente el tiempo y costo de envío.</p>
                </div>
            </div>
        </div>
    </div>
</div>