<div class="container-principal">
    <div class="container row g-2 container-modo-de-recuperacion">
        <h4>Recuperar cuenta</h4>
        <span>Seleccionar el modo de recuperación</span>
        <br>
        <a type="button" class="btn-modo-de-recuperacion mt-2" href="ingresadigitos">
            <span class="material-symbols-outlined">mail</span>
            egarcia&#64;shalom.com
        </a>
        <a type="button" class="btn-modo-de-recuperacion" href="ingresadigitos">
            <span class="material-symbols-outlined">smartphone</span>
            985746321
        </a>
        <a type="button" class="btn-modo-de-recuperacion" href="ingresadigitos">
            <span class="material-symbols-outlined">smartphone</span>
            965872341
        </a>
    </div>
</div>