<div class="container-principal">
    <div class="container row g-2 container-modo-de-recuperacion">
        <h4>Recuperar cuenta</h4>
        <span>Seleccionar el modo de recuperación</span>
        <br>
        <button type="button" class="btn-modo-de-recuperacion mt-2">
            <span class="material-symbols-outlined">mail</span>
            egarcia&#64;shalom.com
        </button>
        <button type="button" class="btn-modo-de-recuperacion">
            <span class="material-symbols-outlined">smartphone</span>
            985746321
        </button>
        <button type="button" class="btn-modo-de-recuperacion">
            <span class="material-symbols-outlined">smartphone</span>
            965872341
        </button>
    </div>
</div>