<div class="container-principal">
    <div class="container row g-2 container-modo-de-recuperacion">
        <h4>Recuperar cuenta</h4>
        <span>Ingresa el código de 5 dígitos enviados al correo / nro. celular</span>
        <div class="digitos">
            <input type="text" name="" id="" class="digito-texto" maxlength="1" width="1rem">
            <input type="text" name="" id="" class="digito-texto" maxlength="1" width="1rem">
            <input type="text" name="" id="" class="digito-texto" maxlength="1" width="1rem">
            <input type="text" name="" id="" class="digito-texto" maxlength="1" width="1rem">
            <input type="text" name="" id="" class="digito-texto" maxlength="1" width="1rem">
        </div>
    </div>
</div>