<div class="container-principal">
    <div class="container row g-2 container-modo-de-recuperacion">
        <h4>Recuperar cuenta</h4>
        <span>Ingresa el código de 5 dígitos enviados al correo / nro. celular</span>
        <div class="digitos">
            <input type="text" name="" id="digito-texto-01" class="digito-texto" maxlength="1" width="1rem" (keyup)="onKeyUp($event)" autocomplete="off">
            <input type="text" name="" id="digito-texto-02" class="digito-texto" maxlength="1" width="1rem" (keyup)="onKeyUp($event)" autocomplete="off">
            <input type="text" name="" id="digito-texto-03" class="digito-texto" maxlength="1" width="1rem" (keyup)="onKeyUp($event)" autocomplete="off">
            <input type="text" name="" id="digito-texto-04" class="digito-texto" maxlength="1" width="1rem" (keyup)="onKeyUp($event)" autocomplete="off">
            <input type="text" name="" id="digito-texto-05" class="digito-texto" maxlength="1" width="1rem" (keyup)="onKeyUp($event)" autocomplete="off">
        </div>
    </div>
</div>