<div class="container-principal m-5">
    <div class="col container-fluid">
        <div class="row">
            <div class="col col-9">
                <span class="principal-titles">¿Cómo buscar?</span>
                <p>
                    A través de la página http://www.codigopostal.gob.pe// se puede consultar el Código
                    Postal.
                    <br>
                    <span class="text-dark"> PRIMERO</span>
                    <br>
                    Ingresa a la pagina
                    <br>
                    <span class="text-dark">2do. REALIZA TU BUSQUEDA</span>
                    <br>
                    Ingrese datos solicitados
                    <br>
                    <span class="text-dark">3ro. VISUALIZA EL RESULTADO</span>
                    <br>
                    Muestra el código postal de acuerdo a la búsqueda realizada.
                    <br>
                    <br>
                    <span class="text-dark">Sigue estos pasos para buscar el Código Postal de tu domicilio, trabajo, o el lugar de destino de tu envío:</span>
                </p>
                <ol>
                    <li>Accede al sitio web: Ingresa a www.codigopostal.gob.pe.</li>
                    <li>Selecciona la región: Elige la "Región" en la que se encuentra la dirección que deseas buscar.</li>
                    <li>Selecciona la provincia y distrito: Luego, selecciona la provincia y el distrito correspondiente para ir precisando la ubicación.</li>
                    <li>Introduce la dirección: Ingresa el nombre de la "Calle Principal" de la dirección que buscas. La página te ofrecerá opciones automáticamente para ayudarte a localizar la calle dentro del distrito seleccionado.</li>
                    <li>Presiona "Buscar": El sistema mostrará el Código Postal correspondiente a la dirección ingresada.</li>
                </ol>
                <p>Toma nota del Código Postal y agrégalo a la dirección completa para facilitar el envío y recepción de correspondencia y paquetes.</p>
            </div>
            <div class="col col-3 container-quees-img">
                <img src="assets/ui/images/computer.png" alt="">
                <img src="assets/ui/images/computer.png" alt="">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <span class="principal-titles">Preguntas frecuentes</span>
                <p>
                    A continuación, un conjunto de preguntas y respuestas relacionadas a la Consulta del Código Postal.
                </p>
                <div class="row">
                    <div class="col">
                        <div>
                            <span class="text-dark">¿Qué pasa si no encuentro mi dirección en esta página?</span>
                            <br>
                            En el caso de no encontrar la calle de una dirección, le sugerimos
                            buscarla con calles principales cercanas  al lugar que busca. Luego en el
                            mapa, con las opciones de acercar ( + ) o alejar ( - ), ubique su dirección
                            con el puntero, de clic sobre el sitio y encuentre su Código Postal.
                            <br>
                            <span class="text-dark">¿Cuál es la forma correcta en la que debo escribir la dirección en Perú a la cual deseo enviar correspondencia o paquetes?</span>
                            <br>
                            La forma correcta de escribir una dirección para enviar correspondencia o paquetería es la siguiente:
                            <div class="row">
                                <div class="col">
                                    <p>
                                        Título*
                                        <br>
                                        Sra.
                                        <br>
                                        Nombre y Apellido / Nombre de
                                        <br>
                                        empresa
                                        <br>
                                        Nathaly Mirabal
                                        <br>
                                        Teléfono*
                                        <br>
                                        Telf.: (593) 993-868-064
                                        <br>
                                        Especificación adicional del
                                        <br>
                                        destinatario*
                                        <br>
                                        Edificio Constitución
                                    </p>
                                </div>
                                <div class="col">
                                    <p>
                                        Dirección (calle principal-número e intersección;
                                        <br>
                                        manzana; casilla postal)
                                        <br>
                                        Sector (Localidad, etc)*
                                        <br>
                                        <br>
                                        Código Postal Ciudad
                                        <br>
                                        xxxxx Lima
                                        <br>
                                        País**
                                        <br>
                                        Perú
                                        <br>
                                        *No es obligatorio
                                        <br>
                                        **Para envíos desde el exterior hacia Ecuador
                                    </p>
                                </div>
                            </div>
                            <span class="text-dark">¿Puedo consultar el Código Postal si conozco solamente el nombre de la calle y la Dirección?</span>
                            <br>
                            Sí es posible, utilizando la herramienta del puntero, ubique el lugar buscado y encuentre su Código Postal.
                        </div>
                    </div>
                    <div class="col">
                        <p>
                            <span class="text-dark">¿Es posible consultar el Código Postal conociendo una sola calle y el número del domicilio?</span>
                            <br>
                            Es posible siempre y cuando usted seleccione la provincia y luego, con
                            las opciones acerca o alejar, identifique el sector o calles conocidas que
                            puedan guiarle al sitio que está buscando, como referencia tendrá el
                            mapa de los cantones. Finalmente, utilizando la herramienta del
                            puntero, ubique el lugar buscado y encuentre su Código Postal.
                            <br>
                            <span class="text-dark">¿Cómo se ubica un Código Postal en el sector rural?</span>
                            <br>
                            En la pantalla principal, seleccione la Provincia, luego en el mapa con las
                            opciones de acercar o alejar encuentre el sector o localidad en donde
                            usted vive, como referencia tendrá el mapa de los cantones. Finalmente
                            ubique el lugar donde vive y con la opción del puntero encuentre su
                            Código Postal.
                            <br>
                            <span class="text-dark">¿Qué hago para tener mayor información sobre el Código Postal?</span>
                            <br>
                            Puede ponerse en contacto con la Agencia de Regulación y Control
                            Postal, a través de la dirección, teléfonos y correo electrónico en la
                            sección CONTÁCTENOS.
                            <br>
                            <span class="text-dark">¿Puedo consultar el Código Postal si conozco solamente la Provincia y la Dirección?</span>
                            <br>
                            Sí es posible, utilizando la herramienta del puntero, ubique el lugar buscado y encuentre su Código Postal.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>